$main-color = #ffc0cb
$main-color-dark = rgb(178,134,142)
$sub-color = #fbd4dc
$sub-color-dark = rgb(199,168,175)
$btn-text-color = #5F505F
$title-color = #5F505F
$title-color-dark = #999999
$icon-active-color = #ff9488
$hover-color = #bbc5cf
$active-color = #93a3b3